{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">This is our story</p>
                </div>
            </div>
        </header>
        <!-- Section-->
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-9">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna quam, in aliquam elit feugiat a. Curabitur in magna id velit tincidunt maximus non eget purus. Sed dapibus accumsan quam. Donec risus turpis, tincidunt ac aliquet ac, tincidunt eget ligula. Sed sit amet efficitur urna, ac sagittis lorem. Phasellus vitae hendrerit diam, sit amet blandit mi. Proin pretium rhoncus metus, quis pretium orci pretium quis. Ut sagittis, diam in finibus placerat, justo massa dignissim ipsum, id facilisis tellus nibh non ex. Aenean luctus laoreet massa, nec semper tellus condimentum sed. Duis egestas rutrum maximus. Vestibulum molestie vel dolor tristique consectetur. Aliquam eu lobortis lorem.
                    In bibendum odio eu vestibulum sollicitudin. Fusce ultrices vel odio non tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed congue tortor elit, laoreet porttitor nulla semper a. Vestibulum ornare lacus velit, a porta ante bibendum et. Vestibulum ut elementum ex, tincidunt dignissim lectus. Vivamus finibus tempor mi vel imperdiet. In suscipit ipsum eget semper tincidunt. Maecenas in tellus eu orci auctor porta ut eget nisl. Proin id feugiat massa, ullamcorper tincidunt lacus. Curabitur vehicula nunc sit amet porta vehicula. Sed quis hendrerit sem. Pellentesque vitae lobortis lorem.
                    Proin in nunc in diam consectetur viverra. Nam feugiat dolor ut magna imperdiet, vitae ultricies quam porta. Nunc est erat, placerat ut lorem non, malesuada sodales dolor. Donec suscipit luctus ligula mollis facilisis. Phasellus erat justo, elementum eu neque eu, fringilla laoreet ante. Donec vestibulum faucibus est, non viverra velit maximus non. Nullam luctus, est in placerat varius, velit magna accumsan eros, quis aliquet ante justo scelerisque velit. Proin pulvinar nulla vel diam maximus gravida. Phasellus sit amet lacus posuere, iaculis urna at, vulputate velit. Nullam pretium sodales facilisis.
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}