{% extends 'base.html' %}
{% load humanize %}
{% block content %}

        <!-- Section-->
        <br><br>
        <div class="container">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                      {% if product.in_sale %}
                      <p class="text-muted text-decoration-line-through">price: {{ product.price | intcomma  }} 💲 </p><br>
                      price: {{ product.sale_price | intcomma  }} 💲
                      {% else %}
                      price: {{ product.price | intcomma  }} 💲
                      {% endif %}
                      <br><br>
                      <button class="btn btn-primary" type="button" value="{{ product.id }}" id="add-cart">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <br><br>

<script>
    $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data:{
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token}}',
            action: 'post'
        },

        success: function(json){
            console.log(json)
        },

        error: function(xhr, errmsg, err){
        },
    })
    })
</script>
{% endblock %}