{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">This is your cart</p>
                </div>
            </div>
        </header>
        <br><br>
        {% if cart_products %}
        {% for product in cart_products %}
        <div class="container">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                      {% if product.in_sale %}
                      <p class="text-muted text-decoration-line-through">price: {{ product.price | intcomma  }} 💲 </p><br>
                      price: {{ product.sale_price | intcomma  }} 💲
                      {% else %}
                      price: {{ product.price | intcomma  }} 💲
                      {% endif %}
                      <br><br>
                      number:
                        {% for key,value in quantities.items %}
                            {% if key == product.id|slugify %}
                            {{ value }}
                            {% endif %}
                        {% endfor %}
                      <br><br>

                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <center>
            <h2 class="container">
                Yor cart is Empty ! 😢
            </h2>

        </center>
        {% endif %}

        <br><br>


{% endblock %}